[project]
	description = ?????(C+qt)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/andrewrong
[access "refs/for/refs/*"]
	read = group user/andrewrong
	push = group user/andrewrong
	label-Code-Review = -2..+2 group user/andrewrong
	label-Verified = -1..+1 group user/andrewrong
	rebase = group user/andrewrong
	removeReviewer = group user/andrewrong
	submit = group user/andrewrong
[access "refs/heads/*"]
	read = group user/andrewrong
	create = group user/andrewrong
	push = +force group user/andrewrong
	pushMerge = group user/andrewrong
[access "refs/tags/*"]
	push = +force group user/andrewrong
	pushTag = group user/andrewrong
	pushSignedTag = group user/andrewrong
